# VCS dependencies that cannot be hash-verified
# Install separately after hash-verified dependencies:
#   pip install --require-hashes -r requirements.txt
#   pip install --no-deps -r requirements-vcs.txt

git+https://github.com/312-dev/monarchmoney.git@1365eaeb0933ce18b0e55d4cd2103eef23e9678e  # custom header support
